<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />

    <title>Save Wildlife - {{title}}</title>
</head>
<body>
    <div class="container-fluid" id="home">
        <div class="row">
            <nav class="navbar navbar-expand-md
                        justify-content-start
                        col-12">
    
                
                <a class="navbar-brand" href="{{ url_for('home')}}"><img src="../static/images/logo.jpg" height=70 alt = "logo"></a>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <!-- <ul class="navbar-nav ml-auto"
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ url_for('campaign')}}">Campaign</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile')}}">Profile</a>
                        </li>
    
                    </ul> -->
                </div>
            </nav>
            <div class="col-12 jumbotron">
                <h1><a href="https://jspca.org.je/">American Bird Conservancy (ABC)</a></h1>
                <p>Saving native birds and their habitats, saving birds nearing extinction</p>
                <p>New Jersey, United States</p>
                <p>FromJanuary 2018</p>
            </div>

        </div>
    </div>
    {% block content %}{% endblock %}

    <div class="container-fluid footer pt-5 pb-3">
        <div class="container">
            <p class="text-center">Made by Z00 team</a> with 💗</p>
        </div>
    </div>
</body>
</html>